@import '../../assets/scss/responsive.scss';
.description {
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
    @include desktop_sm {
        flex-direction: row;
        padding: 100px;
        gap: 32px;
    };
    &__img {
        width: 200px;
        height: 200px;
        @include desktop_sm {
            width: 400;
            height: 400;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap:16px;
        justify-content: flex-start;
        &__title {
            margin: 0;
        }
        &__description {
            margin: 0;
        }
        &__pricetitle {
            margin: 0;
        }
        &__price {
            display: flex;
            gap:12px;
            align-items: center;
            justify-content: flex-start;
        }
    }
}