.description {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    max-width: 700px;
    &__container {
        display: flex;
        flex-direction: column;
        gap:16px;
        justify-content: flex-start;
        &__title {
            margin: 0;
        }
        &__description {
            margin: 0;
        }
        &__pricetitle {
            margin: 0;
        }
        &__price {
            display: flex;
            gap:12px;
            align-items: center;
            justify-content: flex-start;
        }
    }
}